/* Reset básico para eliminar márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner superior fijo */
.top-banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;

    /* Fondo repetido  */
    background-image: url("../imagenes_pizzeria/patron.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 170px;

    /* Línea inferior negra */
    border-bottom: 5px solid black;

    /* Asegura que esté por encima del resto del contenido */
    z-index: 1000;
}

/* Contenedor interno que centra el contenido del banner */
.banner-container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo alineado al borde izquierdo del banner */
.logo {
    margin-left: -20px;
}

/* Imagen del logo */
.logo img {
    height: 180px;
    width: auto;
    cursor: pointer;
}

/* Grupo derecho que contiene menú y botón de cesta */
.right-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Menú de navegación */
.nav {
    display: flex;
    gap: 20px;

    background-color: #ffd700;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 16px;

    font-family: fantasy;
}

/* Enlaces del menú */
.nav a {
    color: black;
    text-decoration: none;
}

/* Efecto hover sobre los enlaces del menú */
.nav a:hover {
    text-decoration: underline;
}

/* Botón de la cesta */
.cart button {
    background-color: #ffd700;
    color: black;

    border: 2px solid black;
    border-radius: 20px;

    padding: 6px 16px;
    font-size: 0.95rem;
    font-family: fantasy;
    cursor: pointer;
}

/* para que el contenido no quede tras el logo */
main {
    padding-top: 160px;
}
