.ofertas-carousel {
    height: 420px;
    overflow: hidden;
    padding: 200px 0;
}

.carousel-track {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.6s ease;
}

.carousel-track img {
    width: 100%;
    height: 100%;
    transform: scale(2);
    object-fit: contain;
    display: block;
}


/*ofertas*/
.ofertas-grid {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.oferta-card {
    overflow: hidden;
}

.oferta-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

/*responsive*/
@media (max-width: 1024px) {
    .ofertas-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .ofertas-grid {
        grid-template-columns: 1fr;
    }
}
