#header {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 30px;
    background-color: #985ada;
    border-radius: 50px;
    border: 2px solid black;
}

.menu .botones {
    display: flex;
    align-items: center;
}

.menu .botones button {
    padding: 8px 22px;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    color: black;
}

.menu .botones button:hover {
    background-image: url("/main/imagenes_pizzeria/botonRoto.png");
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 150% 200%;
}

.menu .botones button.selected {
    background-image: url("/main/imagenes_pizzeria/botonRoto.png");
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 150% 200%;
}
